/*GENERAL START*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL END*/
/*NAVBAR START*/
.bg-white{
    box-shadow: rgb(38, 57, 77) 0px 0px 30px 0px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.start-btn{
    color: gray;
    border-color: gray;
}

/*NAVBAR END*/
/*About Section Start*/
.about{
    margin-top: 80px;
}
.get-btn{
    box-shadow: rgba(24, 231, 5, 0.8) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.fa-circle-play{
    font-size: 30px;
    padding-top: 5px;
}
.watch{
    color:grey;
    padding-left: 10px;
}
.watch:hover i{
    color: greenyellow;
   
}
.get-btn:hover{
    background-color: rgb(7, 71, 7);
}
.motionpic{
    position: relative;
    animation-name:topbottum;
    animation-duration: 6s;
    transition:all linear;
    animation-iteration-count: infinite;
}
@keyframes topbottum{
    0%{top:0px;}
    25%{top:15px;}
    50%{top:20px;}
    75%{top:15px;}
    100%{top:0px;}
}

/*About Section End*/
/*Card section start*/
.card{
    background-color: rgb(222,222,222);
    border: none;
    
}.card:hover {
    border: 1px solid grey;

}.card:hover h6{
    color:rgb(43,150,98) ;
}
.card-logo{
    color: rgb(43,150,98);
    padding: 10px;
    font-size: 40px;
    
}
.card h6{
    font-weight: bold;
    padding-bottom: 30px;
}
/*Card section end*/
/*Third section start*/
.fa-circle-check{
    color:rgb(43,150,98) ;
    font-size: 30px;
}
.text-part{
    margin-left:px;
}
.number{
    color:rgb(21,158,108) ;
    font-size: 60px;
}
.thirdrow{
    text-align: center;
    margin-top: 0;
}
.third-box1 img{
    height: 100%;
    object-fit: contain;
}
/*Third section end*/
/*Service section*/
.service{
    background-color: #f9f9fa;
    padding-bottom: 40px
}
.behind{
    opacity: 0.2;
    text-align: center;
    position: relative;
    font-size: 50px;
}
.front{
    text-align: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-100%);
}
.service-text{
    text-align: center;
}
.service-card{
    background-color: white;
    text-align: center;
}
.servicecard-text{
    font-size: 20px;
}
/*Service section*/
/*gallery section start*/
.all-text{
    color: rgb(21,158,108);
    font-weight: bold;
}
.gallery-menu{
    justify-content: center;
}
.gallery-text{
    color: grey;
    font-weight: bold;
}
.gallery-text:hover{
    color: rgb(43,150,98);
}
.linktag{
    color: blue;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9{
    position: relative;
}
.pop{
    width: 92%;
    margin: 0% 4%;
    position: absolute;
    bottom: 30px;
    display: none;
}
.img1:hover .pop ,
.img2:hover .pop ,
.img3:hover .pop,
.img4:hover .pop,
.img5:hover .pop,
.img6:hover .pop,
.img7:hover .pop,
.img8:hover .pop,
.img9:hover .pop{
    display: block;
    background-color: rgb(255,255, 255,0.75);
    animation-name: popup;
    animation-duration: 0.25s;
    transition: all ease-in-out;
}
@keyframes popup{
    0%{bottom: 10px;}
    100%{bottom: 30px;}
}

/*gallery section start*/
/*testimonial start*/
.testimonial{
    background-color: #fafafa;
    padding: 16px 0;
} 

.whcard{
    background-color: white;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
}
.profile img{
    border-radius: 50%;
    width: 80px!important;
    border:4px solid white;
}
.profile{
    margin-top: -50px;
    margin-left: 30px;
}
.profile-txt{
    color: grey;
    font-weight: bold;
    font-size: smaller;
}
.owl-dot span{
    background-color: white !important;
    border: 1px solid rgb(21,158,108) !important;
    
}
.owl-dots .active span{
    background-color: rgb(21,158,108)!important;
}
.cta{
    background-color: rgb(5,158,99);
}
.cta-box{
    text-align: center;
    padding: 50px 0;
    color: white;
}
.cta-box button{
    background-color: rgb(5,158,99);
    border: 1px solid white;
    padding: 5px 25px;
    color: white;
}
.cta-box button:hover{
    background-color: blue;
    /* box-shadow: 1px 1px 1px 1px; */
    border: none;
}

/*testimonial end*/
/*Team section start*/
.team{
    background-color: #f9f9fa;
}
.white-bg{
    background-color: white;
}
.desigination{
    font-size: smaller;
    color: gray;
}
.team-caption{
    font-style: italic;
}
.iconset{
    color: gray;
}
/*Team section end*/
/*CONTACT START*/
.details{
    background-color: #f9f9fa;
   border-top: 2px solid rgb(21,158,108);
   border-bottom: 2px solid rgb(21,158,108);
   padding: 16px;
   height: 543px;
}
.icon-holder i{
    font-size: 24px;
    color: rgb(21,158,108);
}
.icon-holder{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}
.details-box{
    padding: 15px 18px;
}
.msg-btn:hover{
    background-color: blue;
    border: none;
}
/*CONTACT END*/
/*footer-section*/
.footer-section{
    background-color: #f9f9fa;
}
.sub-btn{
    width: 60%;
}
.subscribe{
    margin-left: -20px;
    border-radius: 0px 4px 4px 0px!important;

}
.footer-icon{
    width: 40px;
    height: 40px;
    background-color:rgb(194,195,196);
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    border-radius: 5px;
    margin-bottom: 30px;
    
}
.enno{
    font-weight: bold;
}
.copyrights{
    justify-content: space-between;
}
.edure{
    font-weight: bold;
    color: rgb(21,158,108);
}

/*footer-section*/
/*arrow*/
.arrow{
    width: 30px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(43,150,98);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    
}
.arrow i{
    color: white;
}
.arrow:hover{
    background-color: green;
}

/*arrow*/
/*media querry*/

@media all and (max-width:992px){
.about{
    margin-bottom: 30px;
}
.card{
    align-items: center;
    margin: 10px 0px;
}
}
@media all and (max-width:768px){


.about-2box{
    margin: 20px 0px;
}
.white-bg{
margin-bottom: 20px;
}
.details{
    height: auto;
}
.detail-mainbox1{
    margin-bottom: 30px;
}}
@media all and (max-width:567){
    .text-part{
        padding: 8px 25px;
    }
}


/*media querry*/





